
body {
  background-color: #2a2a2a;
  color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

/* Header */
header {
  background-color: #1c1c1c;
  color: #f4f4f4;
  padding: 1.5rem 0;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
header .logo img {
  width: 120px;
}
header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
header nav ul li a {
  color: #d4af37;
  text-decoration: none;
  font-size: 1.1rem;
}
header nav ul li a:hover {
  color: #f4f4f4;
}

/* Main */
main {
  padding: 3rem 2rem;
  text-align: center;
}
section h2 {
  font-size: 2rem;
  color: #d4af37;
  margin-bottom: 1.5rem;
}
section p {
  font-size: 1rem;
  color: #e0e0e0;
}
section img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 1rem auto;
  border: 4px solid #d4af37;
  border-radius: 10px;
}

/* Categorías */
.categoria {
  background-color: #333;
  color: #fff;
  padding: 1.2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #1c1c1c;
  color: #d4af37;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

/* WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
  transition: transform 0.4s ease, opacity 1s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards;
}
.whatsapp-button:hover {
  background-color: #20b958;
  transform: scale(1.1);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.whatsapp-button svg {
  width: 30px;
  height: 30px;
  fill: white;
}
@media (max-width: 768px) {
  .whatsapp-button {
    display: flex;
  }
}
